{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { display: flex; justify-content: center; font-family: 'Poppins', sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Votre panier</h1>

</div>
{% endblock %}
