{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper h1{
        display: flex;
        justify-content: center;
    }
</style>

<div class="example-wrapper">
    <h1>Accueil</h1>

    <ul>
        <li>Your controller at <code>/Users/romaincarlier/Workspace/hackathon-DWWM/src/Controller/AccueilController.php</code></li>
        <li>Your template at <code>/Users/romaincarlier/Workspace/hackathon-DWWM/templates/accueil/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
