{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<style>
    .example-wrapper { display: flex; justify-content: center; font-family: 'Poppins', sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Blog</h1>
</div>
{% endblock %}
