{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        display: flex; justify-content: center; font-family: 'Poppins', sans-serif;
    }
    .btn-return {
        background-color:rgb(0, 0, 0);
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 16px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .btn-container {
        text-align: right;
        margin-bottom: 20px;
        padding-right: 20px;
    }
</style>

<div class="btn-container">
    <a class="btn-return" href="/retour">Retour d'article</a>
</div>

<div class="example-wrapper">
    <h1>Nos articles</h1>

    
</div>
{% endblock %}
