{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="example-wrapper">
    <h1>Nos articles</h1>

    
</div>
{% endblock %}
